@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Carrois+Gothic");
/*リセットcss*/
/*
html5doctor.com Reset Stylesheet
v1.4
2009-07-27
Author: Richard Clark - http://richclarkdesign.com
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/*自作css*/
html {
  font-size: 62.5%; }

body {
  min-width: 320px; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom; }

*, *::before, ::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.header {
  width: 100%;
  background-color: #81d8d0; }

@media screen and (min-width: 768px) {
  .header {
    overflow: hidden; } }

.main {
  padding: 40px 0; }

.footer {
  width: 100%;
  text-align: center;
  background-color: #81d8d0; }

.dolce-logo {
  display: block;
  background: url(../../img/dolce_logo.png) no-repeat center center;
  height: 48px;
  margin: 48px 0; }
  .dolce-logo:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px; }

.sns {
  display: inline-block;
  height: 65px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 24px; }

.facebook {
  margin-right: 40px; }
  .facebook:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px; }

.insta:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px; }

.copy {
  display: inline-block;
  font-size: 18px;
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 40px; }

@media screen and (min-width: 960px) {
  .dolce-logo {
    width: 260px;
    height: 48px;
    margin-right: 140px;
    position: relative;
    right: 40px; }
  .sns {
    padding-top: 40px;
    height: 100px; }
  .copy {
    font-size: 24px;
    font-size: 2.4rem; } }

.header-nav {
  width: 100%; }
  .header-nav-list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .header-nav-item {
    list-style-type: none;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; }
  .header-nav-link {
    display: block;
    font-size: 24px;
    font-size: 2.4rem;
    padding: 10px 0;
    line-height: 30px;
    text-decoration: none;
    color: #fff;
    text-align: center; }
    .header-nav-link:hover {
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 20px; }

@media screen and (min-width: 960px) {
  .header-nav {
    width: 15%;
    padding-top: 40px;
    float: right; }
    .header-nav-list {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
    .header-nav-item {
      list-style-type: none;
      margin-right: 24px; } }

.inner {
  max-width: 940px;
  margin: 0 auto;
  position: relative; }

.top-maincontent {
  max-width: 100%;
  height: 100%;
  font-family: "Sawarabi Gothic", "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", verdana, Sans-Serif;
  color: #fff;
  text-align: center;
  margin-bottom: 32px;
  padding-bottom: 24px; }

.about-maincontent {
  max-width: 100%;
  height: 100%;
  font-family: "Sawarabi Gothic", "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", verdana, Sans-Serif;
  color: #fff;
  text-align: center;
  margin-bottom: 32px;
  padding-bottom: 24px; }

@media screen and (min-width: 960px) {
  .header-content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .top-maincontent {
    height: 336px;
    overflow: hidden;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .top-footercontent {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex; }
  .about-maincontent {
    overflow: hidden; }
  .kikusui-content {
    height: 330px;
    margin-bottom: 80px; }
  .maruyama-content {
    height: 330px;
    margin-bottom: 80px; } }

.top-btn-all {
  font-size: 24px;
  font-size: 2.4rem;
  display: inline-block;
  padding: 12px 55px;
  text-decoration: none;
  color: #fff;
  background: rgba(129, 216, 208, 0.5);
  border-radius: 10px;
  white-space: nowrap; }
  .top-btn-all:hover {
    background-color: rgba(255, 255, 255, 0.5); }

.top-aboutbtn, .top-cafebtn, .top-dolcebtn {
  position: relative;
  top: 10px;
  margin-bottom: 20px; }

@media screen and (min-width: 768px) {
  .top-aboutbtn, .top-cafebtn, .top-dolcebtn {
    position: relative;
    top: 24px; } }

@media screen and (min-width: 960px) {
  .top-aboutbtn {
    position: relative;
    top: 100px;
    left: 280px; }
  .top-cafebtn {
    position: relative;
    top: 200px;
    left: 230px; }
  .top-dolcebtn {
    position: relative;
    top: 200px;
    left: 220px; } }

.top-title {
  font-size: 24px;
  font-size: 2.4rem;
  color: #fff;
  text-align: center;
  font-family: "Sawarabi Gothic", "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", verdana, Sans-Serif;
  padding: 16px 0 24px 0; }

.top-bickuptitle {
  font-size: 24px;
  font-size: 2.4rem;
  color: #fff;
  text-align: center;
  padding: 16px 0 24px 0;
  margin-bottom: 40px; }

.top-accesstitle {
  font-size: 24px;
  font-size: 2.4rem;
  color: #000;
  text-align: center;
  padding: 16px 0 24px 0;
  margin-bottom: 40px; }

.about-shoptitle {
  font-size: 30px;
  font-size: 3rem;
  color: #000;
  text-align: center;
  padding: 0 0 24px 0;
  margin-bottom: 40px; }

.kikusui-title {
  width: 88%;
  font-size: 24px;
  font-size: 2.4rem;
  color: #000;
  text-align: center;
  padding: 16px 7px 24px 45px;
  margin-bottom: 40px; }

@media screen and (min-width: 960px) {
  .top-title {
    font-size: 30px;
    font-size: 3rem;
    padding-top: 80px;
    float: left; }
  .top-bickuptitle {
    font-size: 30px;
    font-size: 3rem;
    margin-top: 40px; }
  .kikusui-title {
    width: 40%;
    height: 30px;
    font-size: 24px;
    font-size: 2.4rem;
    color: #000;
    float: left;
    text-align: left;
    padding: 0;
    margin-bottom: 40px; } }

.page-top {
  position: fixed;
  right: 10px;
  bottom: 40px;
  width: 45px;
  height: 45px; }

@media screen and (min-width: 960px) {
  .page-top {
    position: fixed;
    right: 48px;
    bottom: 45px;
    width: 115px;
    height: 112px; } }

.logo {
  height: 130px;
  background: url(../img/header_logo.png) no-repeat center center; }

.mv {
  width: 100%;
  height: 130px;
  background: url(../img/mv_slide1_pc.png) no-repeat center center;
  background-size: cover;
  margin-bottom: 40px; }

.top-txt {
  width: 90%;
  display: inline-block;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.5;
  text-align: left;
  padding: 0 7px; }

.top-about {
  background: url(../img/about_bg.png) no-repeat center center;
  background-size: cover; }

.top-cafe {
  background: url(../../img/cafe_bg.png) no-repeat center center;
  background-size: cover; }

.top-dolce {
  background: url(../../img/dolce_bg.png) no-repeat center center;
  background-size: cover; }

.bickup {
  width: 100%;
  background: url(../../img/bickup_bg2.png) no-repeat center center;
  background-size: cover; }
  .bickup-list {
    margin-bottom: 24px; }
  .bickup-item {
    list-style-type: none;
    width: 55%;
    height: 260px;
    margin: 0 auto; }
  .bickup-link {
    display: inline-block;
    font-size: 18px;
    font-size: 1.8rem;
    padding: 10px 0;
    line-height: 1.5;
    text-decoration: none;
    color: #fff;
    text-align: center;
    margin-bottom: 36px; }
    .bickup-link:hover {
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 10px; }
  .bickup-img {
    margin-bottom: 24px; }

.top-accessmap {
  display: block;
  height: 110px;
  background: url(../../img/access_bg.png) no-repeat center center;
  background-size: cover;
  font-size: 24px;
  font-size: 2.4rem;
  color: #fff;
  text-decoration: none; }

.top-accesstxt {
  padding-top: 45px;
  padding-bottom: 40px;
  text-align: center; }
  .top-accesstxt:hover {
    background-color: rgba(50, 50, 50, 0.5); }

@media screen and (min-width: 768px) {
  .top-about {
    background: url(../../img/top_about_pc.png) no-repeat center center;
    background-size: cover; }
  .top-cafe {
    background: url(../../img/top_cafe_pc.png) no-repeat center center;
    background-size: cover; }
  .top-dolce {
    background: url(../../img/top_dolce_pc.png) no-repeat center center;
    background-size: cover; } }

@media screen and (min-width: 960px) {
  .logo {
    width: 145px;
    padding-top: 10px;
    margin-right: 230px; }
  .mv {
    height: 400px; }
  .top-txt {
    width: 60%;
    float: right;
    padding-top: 80px; }
  .bickup {
    height: 100%; }
    .bickup-list {
      margin-bottom: 24px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .bickup-item {
      width: 100%;
      margin-right: 24px;
      margin-bottom: 40px; }
    .bickup-link {
      font-size: 24px;
      font-size: 2.4rem; }
    .bickup-img {
      margin-bottom: 24px; }
  .top-accessmap {
    height: 317px; }
  .top-accesstxt {
    padding-top: 150px;
    padding-bottom: 140px; }
    .top-accesstxt:hover {
      background-color: rgba(50, 50, 50, 0.5); } }

.about-mv {
  width: 100%;
  height: 130px;
  background: url(../../img/about-mvbg.png) no-repeat 30% center;
  background-size: cover;
  margin-bottom: 40px;
  font-size: 24px;
  font-size: 2.4rem;
  color: #fff;
  text-align: center;
  padding-top: 50px; }

.about-txt {
  width: 90%;
  display: inline-block;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.5;
  text-align: left;
  padding: 0 6px;
  color: #000;
  margin-bottom: 40px; }

.kikusui-img {
  width: 80%;
  height: 200px;
  background: url(../../img/kikusui.png) no-repeat center center;
  margin: 0 auto; }

.kikusui-maintxt {
  width: 90%;
  display: inline-block;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.5;
  text-align: left;
  padding: 0 6px;
  color: #000;
  margin-bottom: 40px; }

.kikusui-map {
  width: 100%;
  background-position: center center;
  background-size: cover;
  margin-bottom: 80px; }

.maruyama-img {
  width: 80%;
  height: 200px;
  background: url(../../img/maruyama.png) no-repeat center center;
  margin: 0 auto; }

@media screen and (min-width: 960px) {
  .about-mv {
    height: 260px;
    background-position: center 20%;
    padding-top: 120px; }
  .about-txt {
    width: 100%; }
  .kikusui-img {
    float: right;
    width: 420px;
    height: 320px; }
  .kikusui-maintxt {
    float: left;
    width: 50%;
    text-align: left;
    padding: 0; }
  .kikusui-map {
    width: 100%;
    height: 252px;
    background-position: center center;
    background-size: cover; }
  .maruyama-img {
    float: right;
    width: 420px;
    height: 320px; } }

.cafe-mv {
  width: 100%;
  height: 130px;
  background: url(../../img/top_cafe_pc.png) no-repeat 30% center;
  background-size: cover;
  margin-bottom: 40px;
  font-size: 24px;
  font-size: 2.4rem;
  color: #fff;
  text-align: center;
  padding-top: 50px; }

.about-txt {
  width: 90%;
  display: inline-block;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.5;
  text-align: left;
  padding: 0 6px;
  color: #000;
  margin-bottom: 40px; }

.logo {
  height: 130px;
  background: url(../img/header_logo.png) no-repeat center center; }

.mv {
  width: 100%;
  height: 130px;
  background: url(../img/mv_slide1_pc.png) no-repeat center center;
  background-size: cover;
  margin-bottom: 40px; }

.top-txt {
  width: 90%;
  display: inline-block;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.5;
  text-align: left;
  padding: 0 7px; }

.top-about {
  background: url(../img/about_bg.png) no-repeat center center;
  background-size: cover; }

.top-cafe {
  background: url(../../img/cafe_bg.png) no-repeat center center;
  background-size: cover; }

.top-dolce {
  background: url(../../img/dolce_bg.png) no-repeat center center;
  background-size: cover; }

.bickup {
  width: 100%;
  background: url(../../img/bickup_bg2.png) no-repeat center center;
  background-size: cover; }
  .bickup-list {
    margin-bottom: 24px; }
  .bickup-item {
    list-style-type: none;
    width: 55%;
    height: 260px;
    margin: 0 auto; }
  .bickup-link {
    display: inline-block;
    font-size: 18px;
    font-size: 1.8rem;
    padding: 10px 0;
    line-height: 1.5;
    text-decoration: none;
    color: #fff;
    text-align: center;
    margin-bottom: 36px; }
    .bickup-link:hover {
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 10px; }
  .bickup-img {
    margin-bottom: 24px; }

.top-accessmap {
  display: block;
  height: 110px;
  background: url(../../img/access_bg.png) no-repeat center center;
  background-size: cover;
  font-size: 24px;
  font-size: 2.4rem;
  color: #fff;
  text-decoration: none; }

.top-accesstxt {
  padding-top: 45px;
  padding-bottom: 40px;
  text-align: center; }
  .top-accesstxt:hover {
    background-color: rgba(50, 50, 50, 0.5); }

@media screen and (min-width: 768px) {
  .top-about {
    background: url(../../img/top_about_pc.png) no-repeat center center;
    background-size: cover; }
  .top-cafe {
    background: url(../../img/top_cafe_pc.png) no-repeat center center;
    background-size: cover; }
  .top-dolce {
    background: url(../../img/top_dolce_pc.png) no-repeat center center;
    background-size: cover; } }

@media screen and (min-width: 960px) {
  .logo {
    width: 145px;
    padding-top: 10px;
    margin-right: 230px; }
  .mv {
    height: 400px; }
  .top-txt {
    width: 60%;
    float: right;
    padding-top: 80px; }
  .bickup {
    height: 100%; }
    .bickup-list {
      margin-bottom: 24px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .bickup-item {
      width: 100%;
      margin-right: 24px;
      margin-bottom: 40px; }
    .bickup-link {
      font-size: 24px;
      font-size: 2.4rem; }
    .bickup-img {
      margin-bottom: 24px; }
  .top-accessmap {
    height: 317px; }
  .top-accesstxt {
    padding-top: 150px;
    padding-bottom: 140px; }
    .top-accesstxt:hover {
      background-color: rgba(50, 50, 50, 0.5); } }

.logo {
  height: 130px;
  background: url(../img/header_logo.png) no-repeat center center; }

.mv {
  width: 100%;
  height: 130px;
  background: url(../img/mv_slide1_pc.png) no-repeat center center;
  background-size: cover;
  margin-bottom: 40px; }

.top-txt {
  width: 90%;
  display: inline-block;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.5;
  text-align: left;
  padding: 0 7px; }

.top-about {
  background: url(../img/about_bg.png) no-repeat center center;
  background-size: cover; }

.top-cafe {
  background: url(../../img/cafe_bg.png) no-repeat center center;
  background-size: cover; }

.top-dolce {
  background: url(../../img/dolce_bg.png) no-repeat center center;
  background-size: cover; }

.bickup {
  width: 100%;
  background: url(../../img/bickup_bg2.png) no-repeat center center;
  background-size: cover; }
  .bickup-list {
    margin-bottom: 24px; }
  .bickup-item {
    list-style-type: none;
    width: 55%;
    height: 260px;
    margin: 0 auto; }
  .bickup-link {
    display: inline-block;
    font-size: 18px;
    font-size: 1.8rem;
    padding: 10px 0;
    line-height: 1.5;
    text-decoration: none;
    color: #fff;
    text-align: center;
    margin-bottom: 36px; }
    .bickup-link:hover {
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 10px; }
  .bickup-img {
    margin-bottom: 24px; }

.top-accessmap {
  display: block;
  height: 110px;
  background: url(../../img/access_bg.png) no-repeat center center;
  background-size: cover;
  font-size: 24px;
  font-size: 2.4rem;
  color: #fff;
  text-decoration: none; }

.top-accesstxt {
  padding-top: 45px;
  padding-bottom: 40px;
  text-align: center; }
  .top-accesstxt:hover {
    background-color: rgba(50, 50, 50, 0.5); }

@media screen and (min-width: 768px) {
  .top-about {
    background: url(../../img/top_about_pc.png) no-repeat center center;
    background-size: cover; }
  .top-cafe {
    background: url(../../img/top_cafe_pc.png) no-repeat center center;
    background-size: cover; }
  .top-dolce {
    background: url(../../img/top_dolce_pc.png) no-repeat center center;
    background-size: cover; } }

@media screen and (min-width: 960px) {
  .logo {
    width: 145px;
    padding-top: 10px;
    margin-right: 230px; }
  .mv {
    height: 400px; }
  .top-txt {
    width: 60%;
    float: right;
    padding-top: 80px; }
  .bickup {
    height: 100%; }
    .bickup-list {
      margin-bottom: 24px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .bickup-item {
      width: 100%;
      margin-right: 24px;
      margin-bottom: 40px; }
    .bickup-link {
      font-size: 24px;
      font-size: 2.4rem; }
    .bickup-img {
      margin-bottom: 24px; }
  .top-accessmap {
    height: 317px; }
  .top-accesstxt {
    padding-top: 150px;
    padding-bottom: 140px; }
    .top-accesstxt:hover {
      background-color: rgba(50, 50, 50, 0.5); } }

.logo {
  height: 130px;
  background: url(../img/header_logo.png) no-repeat center center; }

.mv {
  width: 100%;
  height: 130px;
  background: url(../img/mv_slide1_pc.png) no-repeat center center;
  background-size: cover;
  margin-bottom: 40px; }

.top-txt {
  width: 90%;
  display: inline-block;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.5;
  text-align: left;
  padding: 0 7px; }

.top-about {
  background: url(../img/about_bg.png) no-repeat center center;
  background-size: cover; }

.top-cafe {
  background: url(../../img/cafe_bg.png) no-repeat center center;
  background-size: cover; }

.top-dolce {
  background: url(../../img/dolce_bg.png) no-repeat center center;
  background-size: cover; }

.bickup {
  width: 100%;
  background: url(../../img/bickup_bg2.png) no-repeat center center;
  background-size: cover; }
  .bickup-list {
    margin-bottom: 24px; }
  .bickup-item {
    list-style-type: none;
    width: 55%;
    height: 260px;
    margin: 0 auto; }
  .bickup-link {
    display: inline-block;
    font-size: 18px;
    font-size: 1.8rem;
    padding: 10px 0;
    line-height: 1.5;
    text-decoration: none;
    color: #fff;
    text-align: center;
    margin-bottom: 36px; }
    .bickup-link:hover {
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 10px; }
  .bickup-img {
    margin-bottom: 24px; }

.top-accessmap {
  display: block;
  height: 110px;
  background: url(../../img/access_bg.png) no-repeat center center;
  background-size: cover;
  font-size: 24px;
  font-size: 2.4rem;
  color: #fff;
  text-decoration: none; }

.top-accesstxt {
  padding-top: 45px;
  padding-bottom: 40px;
  text-align: center; }
  .top-accesstxt:hover {
    background-color: rgba(50, 50, 50, 0.5); }

@media screen and (min-width: 768px) {
  .top-about {
    background: url(../../img/top_about_pc.png) no-repeat center center;
    background-size: cover; }
  .top-cafe {
    background: url(../../img/top_cafe_pc.png) no-repeat center center;
    background-size: cover; }
  .top-dolce {
    background: url(../../img/top_dolce_pc.png) no-repeat center center;
    background-size: cover; } }

@media screen and (min-width: 960px) {
  .logo {
    width: 145px;
    padding-top: 10px;
    margin-right: 230px; }
  .mv {
    height: 400px; }
  .top-txt {
    width: 60%;
    float: right;
    padding-top: 80px; }
  .bickup {
    height: 100%; }
    .bickup-list {
      margin-bottom: 24px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .bickup-item {
      width: 100%;
      margin-right: 24px;
      margin-bottom: 40px; }
    .bickup-link {
      font-size: 24px;
      font-size: 2.4rem; }
    .bickup-img {
      margin-bottom: 24px; }
  .top-accessmap {
    height: 317px; }
  .top-accesstxt {
    padding-top: 150px;
    padding-bottom: 140px; }
    .top-accesstxt:hover {
      background-color: rgba(50, 50, 50, 0.5); } }

.logo {
  height: 130px;
  background: url(../img/header_logo.png) no-repeat center center; }

.mv {
  width: 100%;
  height: 130px;
  background: url(../img/mv_slide1_pc.png) no-repeat center center;
  background-size: cover;
  margin-bottom: 40px; }

.top-txt {
  width: 90%;
  display: inline-block;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.5;
  text-align: left;
  padding: 0 7px; }

.top-about {
  background: url(../img/about_bg.png) no-repeat center center;
  background-size: cover; }

.top-cafe {
  background: url(../../img/cafe_bg.png) no-repeat center center;
  background-size: cover; }

.top-dolce {
  background: url(../../img/dolce_bg.png) no-repeat center center;
  background-size: cover; }

.bickup {
  width: 100%;
  background: url(../../img/bickup_bg2.png) no-repeat center center;
  background-size: cover; }
  .bickup-list {
    margin-bottom: 24px; }
  .bickup-item {
    list-style-type: none;
    width: 55%;
    height: 260px;
    margin: 0 auto; }
  .bickup-link {
    display: inline-block;
    font-size: 18px;
    font-size: 1.8rem;
    padding: 10px 0;
    line-height: 1.5;
    text-decoration: none;
    color: #fff;
    text-align: center;
    margin-bottom: 36px; }
    .bickup-link:hover {
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 10px; }
  .bickup-img {
    margin-bottom: 24px; }

.top-accessmap {
  display: block;
  height: 110px;
  background: url(../../img/access_bg.png) no-repeat center center;
  background-size: cover;
  font-size: 24px;
  font-size: 2.4rem;
  color: #fff;
  text-decoration: none; }

.top-accesstxt {
  padding-top: 45px;
  padding-bottom: 40px;
  text-align: center; }
  .top-accesstxt:hover {
    background-color: rgba(50, 50, 50, 0.5); }

@media screen and (min-width: 768px) {
  .top-about {
    background: url(../../img/top_about_pc.png) no-repeat center center;
    background-size: cover; }
  .top-cafe {
    background: url(../../img/top_cafe_pc.png) no-repeat center center;
    background-size: cover; }
  .top-dolce {
    background: url(../../img/top_dolce_pc.png) no-repeat center center;
    background-size: cover; } }

@media screen and (min-width: 960px) {
  .logo {
    width: 145px;
    padding-top: 10px;
    margin-right: 230px; }
  .mv {
    height: 400px; }
  .top-txt {
    width: 60%;
    float: right;
    padding-top: 80px; }
  .bickup {
    height: 100%; }
    .bickup-list {
      margin-bottom: 24px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .bickup-item {
      width: 100%;
      margin-right: 24px;
      margin-bottom: 40px; }
    .bickup-link {
      font-size: 24px;
      font-size: 2.4rem; }
    .bickup-img {
      margin-bottom: 24px; }
  .top-accessmap {
    height: 317px; }
  .top-accesstxt {
    padding-top: 150px;
    padding-bottom: 140px; }
    .top-accesstxt:hover {
      background-color: rgba(50, 50, 50, 0.5); } }

.logo {
  height: 130px;
  background: url(../img/header_logo.png) no-repeat center center; }

.mv {
  width: 100%;
  height: 130px;
  background: url(../img/mv_slide1_pc.png) no-repeat center center;
  background-size: cover;
  margin-bottom: 40px; }

.top-txt {
  width: 90%;
  display: inline-block;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.5;
  text-align: left;
  padding: 0 7px; }

.top-about {
  background: url(../img/about_bg.png) no-repeat center center;
  background-size: cover; }

.top-cafe {
  background: url(../../img/cafe_bg.png) no-repeat center center;
  background-size: cover; }

.top-dolce {
  background: url(../../img/dolce_bg.png) no-repeat center center;
  background-size: cover; }

.bickup {
  width: 100%;
  background: url(../../img/bickup_bg2.png) no-repeat center center;
  background-size: cover; }
  .bickup-list {
    margin-bottom: 24px; }
  .bickup-item {
    list-style-type: none;
    width: 55%;
    height: 260px;
    margin: 0 auto; }
  .bickup-link {
    display: inline-block;
    font-size: 18px;
    font-size: 1.8rem;
    padding: 10px 0;
    line-height: 1.5;
    text-decoration: none;
    color: #fff;
    text-align: center;
    margin-bottom: 36px; }
    .bickup-link:hover {
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 10px; }
  .bickup-img {
    margin-bottom: 24px; }

.top-accessmap {
  display: block;
  height: 110px;
  background: url(../../img/access_bg.png) no-repeat center center;
  background-size: cover;
  font-size: 24px;
  font-size: 2.4rem;
  color: #fff;
  text-decoration: none; }

.top-accesstxt {
  padding-top: 45px;
  padding-bottom: 40px;
  text-align: center; }
  .top-accesstxt:hover {
    background-color: rgba(50, 50, 50, 0.5); }

@media screen and (min-width: 768px) {
  .top-about {
    background: url(../../img/top_about_pc.png) no-repeat center center;
    background-size: cover; }
  .top-cafe {
    background: url(../../img/top_cafe_pc.png) no-repeat center center;
    background-size: cover; }
  .top-dolce {
    background: url(../../img/top_dolce_pc.png) no-repeat center center;
    background-size: cover; } }

@media screen and (min-width: 960px) {
  .logo {
    width: 145px;
    padding-top: 10px;
    margin-right: 230px; }
  .mv {
    height: 400px; }
  .top-txt {
    width: 60%;
    float: right;
    padding-top: 80px; }
  .bickup {
    height: 100%; }
    .bickup-list {
      margin-bottom: 24px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .bickup-item {
      width: 100%;
      margin-right: 24px;
      margin-bottom: 40px; }
    .bickup-link {
      font-size: 24px;
      font-size: 2.4rem; }
    .bickup-img {
      margin-bottom: 24px; }
  .top-accessmap {
    height: 317px; }
  .top-accesstxt {
    padding-top: 150px;
    padding-bottom: 140px; }
    .top-accesstxt:hover {
      background-color: rgba(50, 50, 50, 0.5); } }

.logo {
  height: 130px;
  background: url(../img/header_logo.png) no-repeat center center; }

.mv {
  width: 100%;
  height: 130px;
  background: url(../img/mv_slide1_pc.png) no-repeat center center;
  background-size: cover;
  margin-bottom: 40px; }

.top-txt {
  width: 90%;
  display: inline-block;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.5;
  text-align: left;
  padding: 0 7px; }

.top-about {
  background: url(../img/about_bg.png) no-repeat center center;
  background-size: cover; }

.top-cafe {
  background: url(../../img/cafe_bg.png) no-repeat center center;
  background-size: cover; }

.top-dolce {
  background: url(../../img/dolce_bg.png) no-repeat center center;
  background-size: cover; }

.bickup {
  width: 100%;
  background: url(../../img/bickup_bg2.png) no-repeat center center;
  background-size: cover; }
  .bickup-list {
    margin-bottom: 24px; }
  .bickup-item {
    list-style-type: none;
    width: 55%;
    height: 260px;
    margin: 0 auto; }
  .bickup-link {
    display: inline-block;
    font-size: 18px;
    font-size: 1.8rem;
    padding: 10px 0;
    line-height: 1.5;
    text-decoration: none;
    color: #fff;
    text-align: center;
    margin-bottom: 36px; }
    .bickup-link:hover {
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 10px; }
  .bickup-img {
    margin-bottom: 24px; }

.top-accessmap {
  display: block;
  height: 110px;
  background: url(../../img/access_bg.png) no-repeat center center;
  background-size: cover;
  font-size: 24px;
  font-size: 2.4rem;
  color: #fff;
  text-decoration: none; }

.top-accesstxt {
  padding-top: 45px;
  padding-bottom: 40px;
  text-align: center; }
  .top-accesstxt:hover {
    background-color: rgba(50, 50, 50, 0.5); }

@media screen and (min-width: 768px) {
  .top-about {
    background: url(../../img/top_about_pc.png) no-repeat center center;
    background-size: cover; }
  .top-cafe {
    background: url(../../img/top_cafe_pc.png) no-repeat center center;
    background-size: cover; }
  .top-dolce {
    background: url(../../img/top_dolce_pc.png) no-repeat center center;
    background-size: cover; } }

@media screen and (min-width: 960px) {
  .logo {
    width: 145px;
    padding-top: 10px;
    margin-right: 230px; }
  .mv {
    height: 400px; }
  .top-txt {
    width: 60%;
    float: right;
    padding-top: 80px; }
  .bickup {
    height: 100%; }
    .bickup-list {
      margin-bottom: 24px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .bickup-item {
      width: 100%;
      margin-right: 24px;
      margin-bottom: 40px; }
    .bickup-link {
      font-size: 24px;
      font-size: 2.4rem; }
    .bickup-img {
      margin-bottom: 24px; }
  .top-accessmap {
    height: 317px; }
  .top-accesstxt {
    padding-top: 150px;
    padding-bottom: 140px; }
    .top-accesstxt:hover {
      background-color: rgba(50, 50, 50, 0.5); } }
