.header{
    width: 100%;
//    height: 305px;
    background-color: $color-base;
    margin-bottom: 40px;
    padding-top: 10px;
}

@media screen and(min-width:$pc){
    .header{
       overflow: hidden;
       height: 150px;
    }
}