.dolce-mv {
    width: 100%;
    height: 130px;
    background: url(../../img/dolce_bg.png) no-repeat 30% center;
    background-size: cover;
    margin-bottom: 40px;
    @include rem(24);
    color: $color-txt;
    text-align: center;
    padding-top: 50px;
}

.dolce-txt {
    width: 90%;
    display: inline-block;
    @include rem(18);
    line-height: $lh-txt;
    text-align: left;
    padding: 0 6px;
    color: #000;
    margin-bottom: 40px;
}

.c-cake-img {
    width: 80%;
    height: 200px;
    background: url(../../img/c_cake.png) no-repeat center center;
    margin: 0 auto;
    margin-bottom: 40px;
}

.dolce-menu-area {
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
    width: 100%;
    span {
        float: right;
    }
}

.dolce-menu-list {
    margin-bottom: 40px;
    li {
        @include rem(18);
        padding: 10px;
        text-align: left;
        font-family: $font-jp;
        list-style-type: none;
        line-height: 0.9;
    }
}

.list01 {
    margin-bottom: 0;
}

.dolcepage-purin-img {
    width: 80%;
    height: 200px;
    background: url(../../img/dolcepagepurin.png) no-repeat center center;
    margin: 0 auto;
    margin-bottom: 40px;
}

.gra{
    @include rem(18);
    text-align: center;
    font-family: $font-jp;
    margin-bottom: 40px;
}
@media screen and(min-width:$pc) {
    .dolce-mv {
        height: 266px;
        padding-top: 120px;
    }
    .c-cake-img {
        width: 100%;
        height: 346px;
        background: url(../../img/c_cake.png) no-repeat center center;
    }
    .dolcepage-purin-img {
        width: 100%;
        height: 346px;
        background: url(../../img/dolcepagepurin.png) no-repeat center center;
    }
    .list01 {}
    .dolce-menu-left {
        width: 386px;
        margin-bottom: 30px;
        float: left;
    }
    .dolce-menu-right {
        width: 373px;
        //        height: 76px;
        float: right;
    }
}
