.lanch-mv {
    width: 100%;
    height: 130px;
    background: url(../img/lanch_bg.png) no-repeat 30% center;
    background-size: cover;
    margin-bottom: 40px;
    @include rem(24);
    color: $color-txt;
    text-align: center;
    padding-top: 40px;
}

.potohu-img {
    width: 80%;
    height: 200px;
    background: url(../img/potohu.png) no-repeat center center;
    margin: 0 auto;
    margin-bottom: 40px;
}

.sityu-img {
    width: 80%;
    height: 200px;
    background: url(../img/sityu.png) no-repeat center center;
    margin: 0 auto;
    margin-bottom: 40px;
}

.montiku-img {
    width: 80%;
    height: 200px;
    background: url(../img/montiku.png) no-repeat center center;
    margin: 0 auto;
    margin-bottom: 40px;
}

.purin-txt {
    width: 90%;
    display: inline-block;
    @include rem(18);
    line-height: $lh-txt;
    padding-left: 40px;
    font-family: $font-jp;
    color: #000;
}

.cake-maintxt {
    margin-bottom: 60px;
}
.lanch-maintxt{
    width: 90%;
    display: inline-block;
    @include rem(18);
    line-height: $lh-txt;
    padding-left: 40px;
    font-family: $font-jp;
    color: #000;
    margin-bottom: 60px;
}
.tizecake-txt {
    width: 90%;
    display: inline-block;
    @include rem(18);
    line-height: $lh-txt;
    padding-left: 40px;
    font-family: $font-jp;
    color: #000;
    margin-bottom: 60px;
}

.gatosifon-txt {
    width: 90%;
    display: inline-block;
    @include rem(18);
    line-height: $lh-txt;
    padding-left: 40px;
    font-family: $font-jp;
    color: #000;
    margin-bottom: 60px;
}
.purin-yen {
    width: 90%;
    text-align: right;
}

.cake-yen {
    margin-bottom: 45px;
}

.gatosifon-yen{
    display: inline-block;
    @include rem(18);
    line-height: $lh-txt;
    padding-left: 40px;
    font-family: $font-jp;
    color: #000;
    width: 90%;
    text-align: right;
    margin-bottom: 45px;
}

.montiku-txt{
    width: 90%;
    display: inline-block;
    @include rem(18);
    line-height: $lh-txt;
    padding-left: 40px;
    font-family: $font-jp;
    color: #000;
    span{
        float: right;
    }
}
@media screen and(min-width:$pc) {
    .lanch-mv {
        height: 400px;
        padding-top: 100px;
    }
    .cake-menuarea{
        width: 100%;
        ul{
            display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
            
        li{ 
            list-style-type: none;
            flex: 0 0 40%;
            margin-bottom: 40px;
        }
        }
    }
    .potohu-img,
    .sityu-img{
        width: 380px;
        height: 300px;
        margin: 0;
    }
    .montiku-img{
        width: 480px;
        height: 360px;
        margin: 0 auto;
    }
    .montiku-txt{
        display: inline-block;
        width: 55%;
        margin-left: 190px;
    }
    .purin-txt {
        width: 100%;
        padding-left: 0;
    }
    .cake-maintxt {  
    margin-bottom: 60px;
}
    .lanch-maintxt{
         width: 100%;
        text-align: center;
    }
   
    .tizecake-txt {
    width: 73%;
        margin-left: 150px;
}
     .lanch-subtxt{
        width: 80%;
         margin-left: 100px;
    }
    .gatosifon-txt {
    width: 100%;
    padding: 0 10px;
}
    .egg-txt{
        padding-top: 0;
       margin-bottom: 0;
    }
    
        
    .purin-yen {
        width: 100%;
        text-align: right;
        margin-bottom: 80px;
    }
    .gatosifon-yen{
   
    width: 100%;
   
}
}
